body {
	background: #f9e933;
	font-size: 100%;
}

header, main, footer {
	min-width: 855px;
	padding: 25px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
}

header h1{
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
	overflow: auto;
}

main .leftcontent {
	float: left;
	width: 570px;
}

main .rightcontent {
	float: right;
	width: 285px;
}

footer {
	overflow: auto;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap {
	float: right;
	width: 285px;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}

p, li, a {
	font-family: 'Bubblegum Sans', cursive;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: large;
}

p, li {
	font-size: 1.2em;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: blue;
}

/*.leftcontent p, .leftcontent ul {
	padding:10px;
}
*/
main p, main ul {
	padding:10px;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width:100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: #eee;
}